Source: panel-design-manager
Section: utils
Priority: optional
Maintainer: Enrique Medina Gremaldos <quiqueiii@gmail.com>
Build-Depends: debhelper (>=9), zero-dev, llxsrchelper, cmake, qtbase5-dev, extra-cmake-modules, libxmlrpc-c++8-dev
Standards-Version: 3.9.7
Homepage: http://lliurex.net

Package: panel-design-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kconfig-dump
Description: Panel Design Manager GUI
 Allows to set a custom mate-panel configuration as a system default.

Package: panel-design-manager-common
Architecture: all
Depends: ${misc:Depends}
Description: Panel Design Manager Common Files
 Common files for panel-design-manager

Package: n4d-paneldesignmanager-server
Architecture: all
Depends: ${misc:Depends}, python3, n4d
Description: Panel Design Manager Server plugin
 N4D Plugin that manages panel configuration and its replication.

Package: n4d-paneldesignmanager-client
Architecture: all
Depends: ${misc:Depends}, python3, n4d
Description: Panel Design Manager Client plugin
 N4D Plugin that reads and applies server configuration.

